[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/vivekanandmall01
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/vivekanandmall01
	label-Verified = -1..+1 group user/vivekanandmall01
	push = group user/vivekanandmall01
	read = group user/vivekanandmall01
	rebase = group user/vivekanandmall01
	removeReviewer = group user/vivekanandmall01
	submit = group user/vivekanandmall01
[access "refs/heads/*"]
	create = group user/vivekanandmall01
	push = +force group user/vivekanandmall01
	pushMerge = group user/vivekanandmall01
	read = group user/vivekanandmall01
[access "refs/tags/*"]
	push = group user/vivekanandmall01
	push = +force group user/vivekanandmall01
